<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title> <!-- Блок для заголовка страницы -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> <!-- Подключение стилей Bootstrap -->
</head>
<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary"> <!-- Навигационная панель -->
        <div class="container-fluid">
        <a class="navbar-brand" href="/">Flask blog</a> <!-- Логотип или название блога -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> <!-- Кнопка для мобильного просмотра -->
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="/">Home</a> <!-- Ссылка на главную страницу -->
            </li>
            {% if 'login' in session %} <!-- Проверка, есть ли пользователь в сессии -->
            <li class="nav-item">
            <a class="nav-link" href="/user_profile">Profile</a> <!-- Ссылка на профиль пользователя -->
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/post">Post</a> <!-- Ссылка для создания нового поста -->
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a> <!-- Ссылка для выхода -->
            </li>
            {% else %} <!-- Если пользователь не вошел -->
            <li class="nav-item">
            <a class="nav-link" href="/login">Login</a> <!-- Ссылка для входа -->
            </li>
            {% endif %}
            </ul>
        </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %} <!-- Получение сообщений об уведомлениях -->
        {% if messages %} <!-- Если есть сообщения -->
            {% for category, message in messages %} <!-- Перебор всех сообщений -->
                <div class="alert alert-{{ category }}" role="alert"> <!-- Уведомление с классом для стиля -->
                {{ message }} <!-- Вывод сообщения -->
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %} <!-- Блок для основного контента страницы -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> <!-- Подключение скриптов Bootstrap -->
</body>
</html>
